<div class="row">
    <div class="col"> 
        <div class="card" >
                <label for="typeahead-focus">Search for a User:</label>
                <input
                  id="typeahead-focus"
                  type="text"
                  class="form-control"
                  [(ngModel)]="model"
                  [ngbTypeahead]="search"
                  #instance="ngbTypeahead"
                />
            <div class="card-header">Swell Board</div>
            <ul class="list-group list-group-flush">
                <li *ngFor="let share of _Share.Share" class="list-group-item">
                   <p>
                   <b>User: </b> {{share.UserName}}<br>
                   <b>Date: </b> {{share.Date}}<br>
                   <b>Muscle Group: </b> {{share.MuscleGroup}}<br>
                   <b>Workout: </b> {{share.Workout}}<br>
                   <b>Reps: </b> {{share.Reps}}<br>
                    </p>   
                </li>              
              </ul>
          </div>
    </div>
