<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="\assets\Images\arnold.jpg" alt="User Picture" style="width:100%">
  <h1>{{_Log.Me.Name}}</h1>
  <input #Name placeholder="Display Name" />
  <p class="goal"><label for="sel1">Goal:</label>
    <select class="form-control" id="sel1">
      <option>Gain Muscle</option>
      <option>Lose Weight</option>
      <option>Tone</option>
      <option>Get Healthy</option>
    </select></p>

  <p><button>Edit</button></p>
</div>