<div class="row">
<form>
    <div class="col">
    <div class="form-group">
        <label for="comment">Date:</label><br>
        <input #Date placeholder="" />
      </div>
  <div class="form-group">
        <label for="comment">Workout:</label><br>
        <input #Workout placeholder="" />
    </div>
</div>
<div class="col">
  <div class="form-group">
  <label for="comment">Muscle Group:</label><br>
  <input #MuscleGroup placeholder="" />
</div>
<div class="form-group">
    <label for="comment">Reps:</label><br>
    <input #Reps placeholder="" />
  </div>
</div>
<div class="col">
    <button type="submit" class="btn btn-primary"
    (click)="postToLog($event, Date.value, MuscleGroup.value, Workout.value, Reps.value)"
    >Log it!</button>
    <button type="submit" class="btn btn-success"
    (click)="postToShare($event, Date.value, MuscleGroup.value, Workout.value, Reps.value)"
    >Share!</button>
</div>      
</form>
</div>
<hr>
<div class="row">
    <div class="col"> 
        <div class="card" >
            <div class="card-header">Log</div>
            <ul class="list-group list-group-flush">
                <li *ngFor="let entry of _Log.Entries" class="list-group-item">
                 <p>
                    <b>Date: </b>{{entry.Date}}<br>
                    <b>Muscle Group: </b> {{entry.MuscleGroup}}<br>
                    <b>Workout: </b>{{entry.Workout}}<br>
                    <b>Reps: </b>{{entry.Reps}}<br>                  
                  </p>                    
                </li>              
              </ul>
          </div>
    </div>
</div>
